      <p>Nom: <%= @author.first_name %></p>
      <p>Prénom: <%= @author.last_name %></p>
      <p>Age: 19 ans</p>
	<button type="button" class="btn btn-outline-success"><a href="/">Retour</a></button>
