<%= render "layouts/nav2" %>
Voici la liste de tous les membres
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Adresse électronique</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
	 	<% 	@user.each do |t| %>
		 <td><%= t.nom %></td>
		 <td><%= t.prenom %></td>
		 <td><%= t.email %></td>
	</tr>
		<% end %>

 </tbody>